:root {
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

ul {list-style-type: none}
a {text-decoration: none}
button {
  cursor: pointer; 
  background: transparent; 
  border: 0;

  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}